.tvPageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: blue;
}


.tvFormContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: chartreuse;
}

.tvInputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.radioContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 50px;
    border: 1.5px solid black;
    border-radius: 15px;
    position: relative;
}

.radioContainer:hover {
    background-color: darkgray;
}

.radioContainer:focus {
    background-color: darkgray;
}

.radioContainer:focus-within {
    background-color: darkgreen;
}


label[for="genre"] {
    position: absolute;
}

input[type="radio"] {
    width: 100%;
    height: 100%;
    opacity: 0.01;
    z-index: 100;
}

.submit {
    width: 300px;
    margin-top: 30px;
}

.tvResultsSection {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.showContainer {
    width: 200px;
    height: 330px;
    background-color: red;
}

.showContainer img {
    width: 100%;
}