html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}



/* ======font family====== */
    /* font-family: 'Luckiest Guy', cursive;

    font-family: 'Newsreader', serif; */

/*========global set up====== */

.wrapper {
    margin: 0px auto;
    padding: 0;
    max-width: 1200px;
    width: 90%;
}

html {
    margin: 0;
    padding: 0;
    font-size: 125%;
    overflow-x: hidden;
}



/*========Header====== */

header {
  color: #393E46;
  background-color: #00ADB5;
  margin: 0 auto;
  width: 100%;
}

.title{
  font-family: 'Luckiest Guy', cursive;
  color: #d5dce8;
  font-size: 3.5rem;
  margin-top: 5px;
  text-decoration: none;
  -webkit-text-stroke: 1.5px black;
}

.title:hover,.title:focus {
    color: black;;
    -webkit-text-stroke: 1.5px #d5dce8;
    transform: perspective(1.05);
}



.classNav {
  color: #393E46;
  font-size: 2rem;
  text-decoration: none;
}

.classNav:hover { 
  color: #d5dce8;
}


nav{
  align-items: center;
}

ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  gap: 75px;
  padding: 40px;
  line-height: .4;
}

li{
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  list-style-type: none;
  color: #393E46;
}

.formContainerHeader{
margin: 0 auto;
text-align: center;
}

.btHeader {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 5px 11px 5px 11px ;
  font-size: 1rem;
  background-color: #00ADB5;
  border: #00ADB5;
  border-radius: 7%;
}

.btHeader:hover, .btHeader:focus {
transform: scale(1.05);
background-color: #3fc5cc;
color: #EEEEEE;
}


/* Landing Page Welcome Message */

.welcome-message-title{
  padding-top: 5%;
}

.welcome-message-title,
.welcome-message{
  color: whitesmoke;
  text-align: center;
  margin: 0 200px;
  line-height: 2;
  text-shadow: 2px 1px #3fc5cc;

}

.welcome-message{
  font-size: 1.5em;

}

.welcome-section{
  background-image: url(./assets/welcome-background-image.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}



/*========footer====== */

footer {
  color: #393E46;
  background-color: #EEEEEE;
  height: 90px;
}

footer p {
  text-align: center;
  padding-top: 20px;
  margin: 0;
}


footer p a{
  text-decoration: none;
  list-style-type: none;
  color: #393E46;
}

footer p a:hover {
  color: #00ADB5;
}


/* MEDIA MEDIA QUERY */

@media (max-width: 1020px) {
    .wrapper {
      max-width: 1000px;
      width: 90%;
  }

.navContainer ul{
padding-left: 178px;
padding-right: 178px;
}

}
@media (max-width: 795px) {

.navContainer ul{
  padding-left: 150px;
  padding-right: 150px;
}
}

@media (max-width: 735px) {

.welcome-message, .welcome-message-title{
  margin: 0px 115px;
}

.navContainer ul{
  padding-left: 100px;
  padding-right: 100px;
}
}




@media (max-width: 685px) {
  .wrapper {
      max-width: 685px;
      width: 90%;
  }

  .welcome-message, .welcome-message-title{
  margin: 0px 90px;
}

.navContainer ul{
  padding-left: 50px;
  padding-right: 50px;
}

.tvDescription {
  text-align: center;
  }
}



@media (max-width: 560px) {
  .wrapper {
      max-width: 560px;
      width: 90%;
    }

    .welcome-message, .welcome-message-title{
  margin: 0px 50px;
}
    
  .navContainer ul{
    width: 100%;
    line-height: normal;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 22px;
  }


  .navContainer ul{
  padding-left: 11px;
  padding-right: 11px;
}
}



@media (max-width: 500px) {
  .wrapper {
      max-width: 500px;
      width: 90%;
    }

    .navContainer ul {
  padding-left: 0px;
  padding-right: 0px;
}


  ul{
    line-height: normal;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 0;
    padding-right: 0;
    gap: 22px;
  }
}


@media (max-width: 420px) {
  .wrapper {
      max-width: 420px;
      width: 90%;
  }

  .welcome-message, .welcome-message-title{
  margin: 0px 20px;
}

.tvPageContainer h1 {
  text-align: center;
  font-size: 1.7rem;
}
}

@media (max-width: 400px) {
  .wrapper {
      max-width: 400px;
      width: 95%;
    }


.title {
  font-size: 2.7rem;
}
}